<h1>Edit User</h1>
<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, User.roles.keys.map { |role| [role.humanize, role] } %>
  </div>
  <div class="actions">
    <%= f.submit 'Update User' %>
  </div>
<% end %>
